input[type=text]{
  width: 20%;
  border: 2px solid #3CB371;
  border-radius: 4px;
  background-color: #e9fce9;}
    
  input[type=submit], input[type=reset] {
  background-color: #3CB371;
  border: none;
  color: white;
  padding: 7px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
  input[type=text]:focus {
  width: 4%;}
  input[type=submit]:focus {
  width: 5%;
}
    </style>

<script>
  //source https://stackoverflow.com/questions/11226489/show-hide-forms-using-buttons-and-javascript
   function asd(a)
{
    if(a==1)
    document.getElementById("asd").style.display="none";
    else
    document.getElementById("asd").style.display="block";
}
    </script>
    
    
    
    
<form id="asd">Calculator<br>
  <b>Value one</b><br><input type="text" name="[value1]" placeholder="e.g 10.5">
  <br>
 <b>Value two</b><br><input type="text" name="[value3]"placeholder="e.g 10">
        <br>
<b>Value three</b><br><input type="text" name="[value4]"placeholder="e.g 10">
        <br>
 <b>Value four</b><br><input type="text" name="[value5]"placeholder="e.g 10.5">
        <br>
 <b>Value five</b><br><input type="text" name="[value6]"placeholder="e.g 10.5">
        <br>  
    
    <input type="submit" value="Submit">
    <input type="reset" value="Reset"><br>
           You have submitted   <%= $inputarray%>
    <br>The result is:
    <br><b>The mean is </b><%=$meanz%>
    <br><b> The median is</b> <%=$meanz2%>
    <br><b>The mode is </b> <%=$meanz3%>
    <br><b>The range is</b>   <%=$meanz4%>
    <br><b>The min value is </b>  <%=$meanz5%>
    <br><b>The max value is</b>  <%=$meanz6%>
    <br><b>The variance is</b>  <%=$meanz7%>
    <br><b>The population variance is </b> <%=$meanz8%>
    <br><b>The standard deviation is </b> <%=$meanz9%>
    <br><b>The relative standard deviation is</b>  <%=$meanz10%>
    <br><b>Skewness value</b> <%=$meanz11%>
    <br><b>Kurtosis value</b>  <%=$meanz12%>
    </form>
<button onclick="asd(1)">Hide</button>
<button onclick="asd(2)">Show</button><br>
<br>
